# WakaTime API Key
# Get your API key from: https://wakatime.com/settings/account
WAKATIME_API_KEY=your_api_key_here

# GitHub Personal Access Token
# Get your token from: https://github.com/settings/tokens
GH_TOKEN=your_GH_TOKEN_here
